* {
  --darkdark-background: hsl(187, 10%, 10%);
  --dark-background: hsl(187, 15%, 15%);
  --background: hsl(187, 30%, 30%);
  --litelite-text: hsl(187, 99%, 99%);
  --lite-text: hsl(187, 56%, 78%);
  --lite-border-color: hsl(187, 40%, 40%);
  --border-radius: 0.25em;
  --font-size-2: 14pt;
  --font-size-3: 12pt;
  --font-size-4: 10pt;
  --font-size-5: 8pt;
  --font-size-6: 6pt;
}

/* dark scheme media query */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background);
    color: var(--lite-text);
  }
}

:root {
  font-family: sans-serif;
  letter-spacing: 0.8px;
  font-size: var(--font-size-4);
}

body {
  margin: 0;
  padding: 0;
}

body > header {
  margin-top: 0.25em;
  padding: 1em;
  padding-bottom: 0.5em;
  background-color: var(--darkdark-background);
}

body > header > nav {
  display: grid;
  grid-template-columns: 1fr auto;
}

body > header > nav > nav {
  display: flex;
  flex-direction: row;
}

nav > .toolbar-item {
  font-size: var(--font-size-6);
}

.toolbar-item use {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.hamburg-menu {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.hamburg-menu::before {
  /* utf-8 hamburg menu */
  content: "\2630";
}

.vertical-separator::before {
  content: "|";
  color: hsl(187, 20%, 20%);
  padding: 0.5em;
  font-size: var(--font-size-6);
}

.title-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  background-image: url(assets/logoduke.svg);
  width: 60px;
  height: 20px;
  background-size: contain;
}

.signin-button {
}

body > main {
  height: 15em;
  background-image: url(./assets/hero-solar-panels-field-desktop.jfif);
  /* fill the background with the image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main .deck {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.deck > .deck-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  width: clamp(5em, 20vw, 16em);
  height: 8em;
  background-color: hsl(0, 10%, 10%, 0.85);
  border-radius: var(--border-radius);
  font-size: var(--font-size-5);
  text-align: center;
}

.deck-title {
  text-align: center;
  font-size: var(--font-size-2);
}

.deck-item > .icon {
  width: 60px;
  height: 20px;
  background-image: url(./assets/logoduke.svg);
  background-size: cover;
}

.deck-item > .deck-item-title {
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

section {
  background-color: var(--dark-background);
  padding: 1em;
}

section .description {
  font-size: smaller;
}

.title {
  font-size: var(--font-size-2);
  line-height: 2em;
  color: var(--litelite-text);
}

section.winter .icon {
  width: 60px;
}

section.outdoor-lighting {
  background-color: var(--darkdark-background);
}

section.outdoor-lighting > .flex-horizontal {
  /* each cell gets equal spacing */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}

section.outdoor-lighting > .flex-horizontal > img {
  width: 100%;
}

.button {
  height: 3em;
  width: 8em;
  background-color: transparent;
  color: var(--light-text);
  letter-spacing: -1px;
  font-size: smaller;
  border: 1px solid var(--lite-border-color);
}

.button.action {
  background-color: var(--background);
}

img.rounded {
  border-radius: var(--border-radius);
}

.tiny {
  font-size: var(--font-size-6);
}
